{% extends "base.html" %}

{% block title %}
Registered Farmers
{% endblock %}

{% block content %}
<article>
    <table>
        <tr>
            <th>Phone Number </th>
            <th>Name</th>
            <th>Surname</th>
            <th>Location</th>
        </tr>
        {% for farmer in farmers %}
            <tr>
                <td>{{ farmer.number }}</td>
                <td>{{ farmer.name }}</td>
                <td>{{ farmer.surname }}</td>
                <td>{{ farmer.location }}</td>
            </tr>
        {% endfor %}
    </table>
</article>
{% endblock %}
