{% extends "base.html" %}

{% block title %}
Admin Portal 
{% endblock %}

{% block content %}
<article>
    <h2>Requests from your Region</h2>
    {% if reginal.count() == 0 %}
        <i>No requests from your Region</i>
    {% else %}
        {% for farmer in reginal %}
            {% for request in farmer.requests %}
             <div><p>{{ request.name }}: <b><a>{{ request.content }}</a></b> <i> {{ moment(request.time).fromNow() }}</i></p></div>
            {% endfor %}
        {% endfor %}
    {% endif %}
</article>
{% endblock %}
